#responsive{
    width: 90%;
    margin: 0 auto;
    background-color: #00C0D1;
    border: 0.5px solid red;
    max-width: 420px;
}

header{
    width: 100%;
    background-color: rgb(18, 102, 237);
    height: 100px;
}

#encoder  {
    border: 1px solid black;
} 

#decoder {
    border: 1px solid black;
}
 
nav{
    width: 100%;
    /* background-color: purple; */
    height: 50px;
    position: relative;
}
 
#container{
    height: 500px;
    background-color: white;
    width: 100%;
    display: flex;
}
 
footer{
    height: 100px;
}
 
#sidebar{
    background-color: rgb(43, 226, 195);
    display: none;
    height: 100%;
}

#inner-container{
    background-color: chartreuse;
    height: 100%;
}
 
ul#menuitems {
    list-style-type: none;
    display: none;
    position: absolute;
    top: 39px;
    left: -38px;
    flex-direction: column;
}

#Hamburger {
    width: 40px;
    height: 40px;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0 0 5px;
    box-shadow: 5px 10px grey;

}
#Hamburger > div{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px auto;
}

ul#menuitems>li {
    background-color: azure;
    width: 100px;
}

ul#sidebaritems{
    list-style-type: none;
    padding:0;
}


@media only screen and (min-width: 421px){
    body{
        background-color:antiquewhite;
    }
 
    #sidebar{
        background-color: #E6EFEA;
        display: inline;
        height: 100%;
        width: 20%;
    }

    #inner-container{
        background-color: #AFD238;
        height: 100%;
        width: 80%;
    }

}

@media only screen and (min-width: 724px){
}


